:root{
--header-logo: #4d5ae5;
--main-title-color: #ffffff;
--second-title-color: #303030;
--main-btn-color: #ffffff;     
--all-btn: #4d5ae5;
--footer: #2e2f42;
--footer-logo: #4d5ae5;
--span: #2e2f42;
}

body{
    font-family: Roboto, sans-serif;    
    color: #434455;
}
.link {
    text-decoration: none;
}
.list{
    list-style: none;
}
.header {
background-color: #ffffff;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;     
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;               
    color: var(--header-logo);   
}
.header-span {
    color: var(--span);
}

.header-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;   
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header-link link:hover {
    color: #404bbf;
}
.header-link link:focus {
    color: #404bbf;
}
.header-address {
font-style: normal
}
.header-email {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero {
    background-color: #2E2F42;;
}
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about-subtitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;       
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color: #434455;  
    flex: none;
    order: 1;
    flex-grow: 0;
}
.promo-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.team-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.team-title-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;       
    letter-spacing: 0.02em;
    color: #2E2F42;            
    flex: none;
    order: 0;
    flex-grow: 0;
}
.team-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;        
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/**-----Portfolio---------*/
.all-btn {
font-family: 'Roboto', sans-serif;
font-style: normal;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--all-btn);
}
.list {
list-style: none;
}
.gallery list {
    background-color: #FFFFFF;
    text-decoration: none; 
}
.gallery-title{
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;        
letter-spacing: 0.02em;       
color: #2E2F42;
}
.gallery-text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/**-----Footer---------*/
.footer {
background-color:  var(--footer); 
}
.footer-title {
position: absolute;
width: 115px;
height: 22px;
left: 156px;
top: 2380px;
}

.footer-logo {
font-family: 'Raleway', sans-serif;
text-decoration: none;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;           
display: flex;
letter-spacing: 0.03em;
text-transform: uppercase;              
color: var(--footer-logo);
}
.footer-span {
    color: #f4f4fd;
}
.footer-text {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;           
letter-spacing: 0.02em;
color: #E7E9FC;
}


