!:root{
--main-title-color: #ffffff;
--second-title-color: #303030;
--main-btn-color: #ffffff; 
--second-btn-color: #4D5AE5;
}

body {
    font-family: Roboto, sans-serif;    
    color: #434455;
}
.link {
    text-decoration: none;
}
.list{
    list-style: none;
}
.header {
background-color: #ffffff;
}
.top-text {

}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;     
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;               
     color: #4D5AE5;
    
}
.header-logo: hover{
    color: #4D5AE5;
}
.logo-studio {

}


.header-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;      
    flex: none;
    order: 0;
    flex-grow: 0;

}
.header-address {
font-style: normal
}
.header-email {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero {
    background-color: #2E2F42;;
}
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about-subtitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: #2E2F42;       
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color: #434455;  
    flex: none;
    order: 1;
    flex-grow: 0;
}
.promo-subject-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* NAVY BLUE */
    color: #2E2F42;
}
.team-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* NAVY BLUE */
    color: #2E2F42;
}
.team-title-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;       
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: #2E2F42;            
    flex: none;
    order: 0;
    flex-grow: 0;
}
.team-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;        
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/**-----Portfolio---------*/
.menu-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}




/**-----Footer---------*/
.footer {
backroud-color: #2e2f42;
}
.footer-title {
position: absolute;
width: 115px;
height: 22px;
left: 156px;
top: 2380px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;           
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;              
    color: #F4F4FD;
}
.footer-text {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;           
letter-spacing: 0.02em;
/* CORNFLOWER */
color: #E7E9FC;
}


